---
- name: Deploy PHP Recipe Book
  hosts: test_server
  become: yes

  tasks:
    - name: Remove default index.php
      file:
        path: /var/www/html/index.php
        state: absent

    - name: Copy PHP project to server
      synchronize:
        src: "../recipe-book/"
        dest: "/var/www/html/"
        recursive: yes
        delete: yes

    - name: Fix permissions
      file:
        path: /var/www/html
        owner: www-data
        group: www-data
        recurse: yes

    - name: Restart Apache
      service:
        name: apache2
        state: restarted

